@model List<Mengassini.EF.Entities.Products>

@{
    ViewBag.Title = "Products Page";
}

<h1>Index de Products</h1>

<table class="table">
    <thead>
        <tr>
            <td scope="col">ID</td>
            <td scope="col">Nombre Producto</td>
            <td scope="col">Precio Producto</td>
            <td scope="col">Action</td>
            <td scope="col">Action</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td scope="row">@product.ProductID</td>
            <td>@product.ProductName</td>
            <td>@product.UnitPrice</td>
            <td>@Html.ActionLink("Update", "Update", new { id = product.ProductID })</td>
            <td>@Html.ActionLink("Borrar", "Delete", new { id = product.ProductID }, new { onclick = "return confirm('Estas seguro que deseas borrar?')" })</td>
        </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Insertar Nuevo Producto", "Insert")
</div>