@model List<Mengassini.MVC.Models.ProductsView>


@{
    ViewBag.Title = "Products Page";
}

<h1>Index de Products</h1>

<table class="table">
    <thead>
        <tr>
            <td scope="col">ID</td>
            <td scope="col">Name</td>
            <td scope="col">Quantity Per Unit</td>
            <td scope="col">Price</td>
            <td scope="col">Action</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>@product.QuantityPerUnit</td>
                <td>@product.Price.ToString("$ 0.00")</td>
                <td>@Html.ActionLink("Update", "Update", new { id = product.Id })</td>
                <td>@Html.ActionLink("Borrar", "Delete", new { id = product.Id }, new { onclick = "return confirm('Estas seguro que deseas borrar?')" })</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Insertar Nuevo Producto", "Insert")
</div>