@model List<Mengassini.MVC.Models.RegionView>


@{
    ViewBag.Title = "Region Page";
}

<h1>Index de Region</h1>

<table class="table">
    <thead>
        <tr>
            <td scope="col">ID</td>
            <td scope="col">Description</td>
            <td scope="col">Action</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var region in Model)
        {
        <tr>
            <th scope="row">@region.Id</th>
            <td>@region.Description</td>
            <td>@Html.ActionLink("Update", "Update", new { id = region.Id })</td>
            <td>@Html.ActionLink("Borrar", "Delete", new { id = region.Id }, new { onclick = "return confirm('Estas seguro que deseas borrar?')" })</td>
        </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Insertar Nueva Region", "Insert")
</div>